:root{
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

.page-header {
}

.page-content {
}

.bd-no-left {
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.bd-left-warn {
  border-left: 5px solid #f0ad4e;
}
.bd-left-danger {
  border-left: 5px solid #dc3545;
}
.bd-left-primary {
  border-left: 5px solid #007bff;
}
.bd-left-success {
  border-left: 5px solid #28a745;
}
.bd-left-info {
  border-left: 5px solid #17a2b8;
}

.bd-no-top {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.bd-top-black {
  border-top: solid 5px #5d627b;
}

.bd-top-info {
  border-top: solid 5px #17a2b8;
}

.badge-tag {
    color: #455a64;
    background-color: #cfd8dc;
}

.detail > h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo;
  position: relative;
  padding: 1rem;
}
.detail > h1::before,
.detail > h1::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 6px;
  box-sizing: border-box;
}
.detail > h1::before {
  top: 0;
  border-top: 2px solid #17a2b8;
  border-bottom: 1px solid #17a2b8;
}
.detail > h1::after {
  bottom: 0;
  border-top: 1px solid #17a2b8;
  border-bottom: 2px solid #17a2b8;
}

.detail > h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo;
  position: relative;
  padding: .25rem 0 .5rem .75rem;
  border-left: 6px solid #ccc;
}
.detail > h2::before {
  position: absolute;
  left: -6px;
  bottom: 0;
  content: '';
  width: 6px;
  height: 50%;
  background-color: #17a2b8;
}
.detail > h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

.detail > h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo;
  position: relative;
  padding: 0 0 .5rem 1rem;
  border-bottom: 4px solid #ccc;
}
.detail > h3::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #17a2b8;
}

.detail > h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo;
  position: relative;
  padding: 0 .5rem .5rem 1.7rem;
  border-bottom: 1px solid #ccc;
}
.detail > h4::after {
  position: absolute;
  top: .5rem;
  left: .5rem;
  z-index: 2;
  content: '';
  width: 12px;
  height: 12px;
  background-color: #17a2b8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.detail > h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo;
  padding: .25rem 0 .25rem .75rem;
  border-left: 6px solid #ccc;
}

.detail > h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ccc;
}

.detail > blockquote {
  background: rgba(127, 127, 127, 0.1);
  border-color: rgba(0, 122, 204, 0.5);
  border-left-width: 5px;
  border-left-style: solid;
  margin: 0 7px 0 5px;
  padding: 0 16px 0 10px;
}

.break-word {
  word-break: break-word;
}

.bg-shirohanada {
  background-color:#DFF2FC;
}

.text-nakahanada {
  color: #004F80;
}

.home {
  background-image: linear-gradient(#DFF2FC, #f8f9fa);
}

.li-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}